#sidebar {
border-radius:10px;
        width:10%;
        display:inline-block;
        padding:1%;
        float:left;
        background:white;
}
body {
        padding-left:1%;
        padding-right:1%;
        background:#F8F9F9;
        padding-top:1%;

}
h1 {
        vertical-align: middle;
        display:inline;
}

#table {
        position:sticky;
        border-radius: 8px;
        border:solid;
        float:right;
        padding:5px;
        margin-left:10px;
}
th {
        text-align:left;
}
#fullname {
        font-size:125%;
        text-align:center;
}
hr {
        border-color: black;
}
#biography-div {
        display:inline;
}
#summary {
        outline:none;
}
#summary:hover {
        cursor:pointer;
}
#page-content {
float:right;
        width:80%;
        padding:20px;
        background:white;
        border-radius:10px;
        display:inline-block;
}
#edit-view {
        display:inline;
        float:right;
        vertical-align: middle;
}
#logo {
        border-radius:20px;
        width:100px;
}
#sidebarHeader {
        text-align:center;
}
li {
//      margin-top: 1px;
}
.bio-edit {
        outline: none;
}
